IOT/PHP script files/mqtt_subscribe.php
IOT/PHP script files/Read Me.txt
IOT/PHP script files/composer.json
IOT/PHP script files/vendor/composer/LICENSE
IOT/PHP script files/vendor/composer/installed.json
IOT/PHP script files/vendor/autoload.php
IOT/PHP script files/vendor/composer/autoload_classmap.php
IOT/PHP script files/vendor/composer/autoload_namespaces.php
IOT/PHP script files/vendor/composer/autoload_psr4.php
IOT/PHP script files/vendor/composer/autoload_real.php
IOT/PHP script files/vendor/composer/autoload_static.php
IOT/PHP script files/vendor/composer/ClassLoader.php
IOT/PHP script files/vendor/composer/installed.php
IOT/PHP script files/vendor/composer/InstalledVersions.php
IOT/PHP script files/vendor/composer/platform_check.php
IOT/PHP script files/composer.lock
Documentation/.$Admin sequence diagram.drawio.bkp
Documentation/.$Driver sequence diagram.drawio.bkp
Documentation/.$Parking manager sequence diagram.drawio.bkp
Documentation/.$Parking manager sequence siagram.drawio.bkp
Documentation/Admin sequence diagram.drawio
Documentation/Driver sequence diagram.drawio
Documentation/Parking manager sequence diagram.drawio
Documentation/Parking manager sequence siagram.drawio
Documentation/Web architecture diagram.drawio
Documentation/web block diagram.drawio
Documentation/Web sequence diagram.drawio
Proposal Doc Files/Proposal Guide_Apr 2024.pdf
References/1662.pdf
References/1662[1].pdf
References/1662[1].pdf
References/1662[1].pdf
References/1662[1].pdf
References/51021920200101.pdf
References/1662[1].pdf
References/A_Survey_of_Parking_Solutions_for_Smart_Cities.pdf
References/Accessibility  mobility  and spatial justice in Nairobi  Kenya.pdf
References/Nairobi-City-County-Transport-Act-2020.pdf
References/smartcities-04-00032-v3.pdf
References/1662[1].pdf
node_modules